<!-- <mat-table [dataSource]="dataSource" fxShow="false" fxShow.gt-sm> -->
<mat-card ngClass.lt-md="clear-margin">
    <mat-card-content ngClass.lt-md="clear-padding">
        <mat-card-header ngClass.lt-md="clear-top-padding">
            <mat-card-title>My Cart</mat-card-title>
        </mat-card-header>
        <mat-table [dataSource]="dataSource" ngClass.lt-md="table-lt-md">
            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef class="flex-row-space-between" ngClass.lt-md="clear-padding">
                    <div>
                        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                        </mat-checkbox>
                        <span>Product</span>
                    </div>
                    <div>
                        <app-clear-cart></app-clear-cart>
                    </div>
                </mat-header-cell>
                <mat-cell *matCellDef="let item" class="flex-column" ngClass.lt-md="clear-padding">
                    <div class="cart-action flex-row-space-between">
                        <div>
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(item) : null" [checked]="selection.isSelected(item)"
                                [aria-label]="checkboxLabel(item)">
                            </mat-checkbox>
                        </div>
                        <div>
                            <app-delete-from-cart [productId]="item.productId"></app-delete-from-cart>
                        </div>
                    </div>
                    <div ngClass="product-container">
                        <div ngClass="image-container">
                            <img [src]="item.product.imagePath" alt="{{item.product.title}}"
                                ngClass.gt-xs="product-image" ngClass.xs="product-image-xs">
                        </div>
                        <div ngClass="order-detail-container">
                            <div>{{ item.product.title }}</div>
                            <div>&nbsp;</div>
                            <div>{{ item.product.price |
                                currency:'MYR':'symbol':'1.2-2' }}</div>
                            <div><app-update-order-quantity [productId]="item.productId"></app-update-order-quantity>
                            </div>
                            <div>{{item.product.price *
                                item.orderQty |
                                currency:'MYR':'symbol':'1.2-2'}}</div>
                        </div>
                    </div>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="flex-row-space-between" ngClass.lt-md="clear-padding">
                    <div>
                        <span>Total:&nbsp;</span>
                        <span>{{checkOutTotalPrice() |
                            currency:'MYR':'symbol':'1.2-2'}}</span>
                    </div>
                    <div>
                        <button mat-raised-button color="primary" (click)="toCheckOut()"
                            [disabled]="selection.isEmpty()">Check
                            Out</button>
                    </div>
                </mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>

        <ng-container *ngIf="(cartBaseResponse$ | async) as data">
            <div fxLayoutAlign="center end">
                <mat-paginator [length]="data.totalCount" [pageSize]="data.pageSize" [pageIndex]="data.page"
                    [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)"
                    (pageSize)="onPageChange($event)"></mat-paginator>
            </div>
        </ng-container>
    </mat-card-content>
</mat-card>