<ng-container *ngIf="!(token$ | async)">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h2>Log In</h2>
        <mat-error *ngIf="authError$ | async as errorMessage">
          The username and password were not recognized
        </mat-error>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Email" formControlName="email">
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">Email is required</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" placeholder="Password" formControlName="password">
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Password is required</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 8
            characters</mat-error>
        </mat-form-field>
        <mat-card-actions fxLayout="column">
          <button mat-raised-button color="primary" [disabled]="!loginForm.valid">Login</button>
        </mat-card-actions>
      </form>

      <br>
      <p>Don't have an account?&nbsp;<app-go-to-register></app-go-to-register>&nbsp;now!</p>

    </mat-card-content>
  </mat-card>
</ng-container>
<ng-container *ngIf="token$ | async as token">
  <mat-card>
    <mat-card-content>
      <h2>Log In</h2>
      <h3>You have logged in your account.</h3>
    </mat-card-content>
  </mat-card>
</ng-container>