<ng-container *ngIf="(productBaseResponse$ | async) as data">
    <div fxLayout="column">
        <div class="content">
            <div fxLayout="row wrap" fxLayoutGap="16px grid">
                <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let product of data.result">

                    <mat-card fxFlex="100%" fxLayout="column">
                        <img mat-card-image [src]="product.imagePath" [alt]="product.title">
                        <mat-card-content fxFlex="100%" fxLayout="column">
                            <p fxFlex="100%" mat-card-title>{{ product.title }}</p>
                            <p mat-card-subtitle>RM {{ product.price }}</p>
                        </mat-card-content>
                        <mat-card-actions fxLayout="column">
                            <app-add-cart-button></app-add-cart-button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>

        <div fxLayoutAlign="center end">
            <mat-paginator [length]="data.totalCount" [pageSize]="data.pageSize" (page)="onPageChange($event)"
                (pageSize)="onPageChange($event)"></mat-paginator>
        </div>
    </div>
</ng-container>