<mat-toolbar color="primary" fxLayout="column">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
        <span>
            <button mat-button routerLink="/products">{{toolbarTitle}}</button>
            <button mat-button routerLink="/products"><mat-icon>home</mat-icon></button>
        </span>
        <div fxLayout="row">
            <ng-container *ngIf="!(isAuthenticated$ | async)">
                <app-go-to-login></app-go-to-login>
                <app-go-to-register></app-go-to-register>
            </ng-container>
            <ng-container *ngIf="isAuthenticated$ | async">
                <button mat-button (click)="logout()">
                    <mat-icon>shopping_cart</mat-icon>
                    Cart
                </button>
                <button mat-button (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    Logout
                </button>
            </ng-container>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <!-- <ng-container *ngIf="productCategory$ | async as productCategories"> -->
        <div fxShow="false" fxLayout="row wrap" fxShow.gt-sm>
            <ng-container *ngFor="let productCategory of (productCategory$ | async) as productCategories">
                <button mat-stroked-button color="accent" routerLink="/products" [queryParams]="{categoryId: productCategory.categoryId}">
                    {{productCategory.categoryName}}
                </button>
            </ng-container>
        </div>
        <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
            <mat-icon>menu</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
    <ng-container *ngfor="let productCategory of (productCategory$ | async) as productCategories">
        <button mat-menu-item routerLink="/products" [queryParams]="{categoryId: productCategory.categoryId}">
            {{productCategory.categoryName}}
        </button>
    </ng-container>
</mat-menu>
<router-outlet></router-outlet>