<div ngClass="quantity-container">
    <button ngClass="quantity-input-field quantity-button" mat-flat-button color="primary"
        (click)="decrement()">-</button>
    <mat-form-field>
        <input ngClass="quantity-input-field quantity-text" matInput type="number" [(ngModel)]="inputOrderQty"
            [min]="minOrderQty" [max]="maxOrderQty" [(ngModel)]="orderQty" (blur)="inputChanged()">
    </mat-form-field>
    <button ngClass="quantity-input-field quantity-button" mat-flat-button color="primary"
        (click)="increment()">+</button>
</div>
<mat-error *ngIf="orderQty < minOrderQty || orderQty > maxOrderQty">
    {{minOrderQty}} to {{maxOrderQty}}
</mat-error>