mat-card {
    max-width: 95%;
    width: 95%;
    margin: 1em auto;
    text-align: center;
}

mat-form-field {
    display: block;
    /* max-width: 40%; */
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}