<mat-card ngClass="parent-cart">
    <mat-card-header>
        <mat-card-title>Check Out</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-checkout-cart (cartEmitter)="onCart($event)"></app-checkout-cart>

        <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
            <div fxFlex="100%" fxLayout="column">
                <mat-error *ngIf="checkoutError$ | async as errorMessage">
                    {{errorMessage}}
                </mat-error>
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Shipping Detail</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxLayout="column">
                            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>First name</mat-label>
                                    <input matInput placeholder="First name" formControlName="firstName">
                                    <mat-error *ngIf="checkoutForm.get('firstName')?.hasError('required')">First name is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('firstName')?.hasError('maxlength')">First name
                                        must be
                                        less than {{this.charMax1}}
                                        characters</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>Last name</mat-label>
                                    <input matInput placeholder="Last name" formControlName="lastName">
                                    <mat-error *ngIf="checkoutForm.get('lastName')?.hasError('required')">Last name is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('lastName')?.hasError('maxlength')">Last name
                                        must be
                                        less than {{this.charMax1}}
                                        characters</mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-label>Receipient email</mat-label>
                                <input matInput placeholder="Receipient email" formControlName="receiptEmail">
                                <mat-error *ngIf="checkoutForm.get('receiptEmail')?.hasError('required')">Receiptient
                                    email is
                                    required</mat-error>
                                <mat-error *ngIf="checkoutForm.get('receiptEmail')?.hasError('email')">Invalid email
                                    address</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-label>Address</mat-label>
                                <input matInput placeholder="Address" formControlName="address">
                                <mat-error *ngIf="checkoutForm.get('address')?.hasError('required')">Address is
                                    required</mat-error>
                                <mat-error *ngIf="checkoutForm.get('address')?.hasError('maxlength')">Address must be
                                    less than {{this.charMax2}}
                                    characters</mat-error>
                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>Postal code</mat-label>
                                    <input matInput placeholder="Postal code" formControlName="postalCode">
                                    <mat-error *ngIf="checkoutForm.get('postalCode')?.hasError('required')">Postal code
                                        is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('postalCode')?.hasError('maxlength')">Postal code
                                        must be
                                        less than {{this.charMax4}}
                                        characters</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="City" formControlName="city">
                                    <mat-error *ngIf="checkoutForm.get('city')?.hasError('required')">City is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('city')?.hasError('maxlength')">City must be less
                                        than
                                        {{this.charMax3}} characters</mat-error>
                                </mat-form-field>
                            </div>
                            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>State/territory</mat-label>
                                    <mat-select formControlName="state">
                                        <mat-option value="Johor">Johor</mat-option>
                                        <mat-option value="Kedah">Kedah</mat-option>
                                        <mat-option value="Kelantan">Kelantan</mat-option>
                                        <mat-option value="Kuala Lumpur">Kuala Lumpur</mat-option>
                                        <mat-option value="Labuan">Labuan</mat-option>
                                        <mat-option value="Malacca">Malacca</mat-option>
                                        <mat-option value="Negeri Sembilan">Negeri Sembilan</mat-option>
                                        <mat-option value="Pahang">Pahang</mat-option>
                                        <mat-option value="Penang">Penang</mat-option>
                                        <mat-option value="Perak">Perak</mat-option>
                                        <mat-option value="Perlis">Perlis</mat-option>
                                        <mat-option value="Putrajaya">Putrajaya</mat-option>
                                        <mat-option value="Sabah">Sabah</mat-option>
                                        <mat-option value="Sarawak">Sarawak</mat-option>
                                        <mat-option value="Selangor">Selangor</mat-option>
                                        <mat-option value="Terengganu">Terengganu</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="checkoutForm.get('state')?.hasError('required')">State/territory
                                        is
                                        required</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="50%">
                                    <mat-label>Country</mat-label>
                                    <mat-select formControlName="country">
                                        <mat-option value="Malaysia">Malaysia</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="checkoutForm.get('country')?.hasError('required')">Country is
                                        required</mat-error>
                                </mat-form-field>
                            </div>
                            <mat-form-field fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-label>Carrier</mat-label>
                                <mat-select formControlName="carrier">
                                    <mat-option value="POS Laju">POS Laju</mat-option>
                                    <mat-option value="LALAMOVE">LALAMOVE</mat-option>
                                </mat-select>
                                <mat-error *ngIf="checkoutForm.get('carrier')?.hasError('required')">Carrirer is
                                    required</mat-error>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Payment Detail</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div fxFlex="100%" fxLayout="column">
                            <mat-form-field fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-label>Card number</mat-label>
                                <input matInput placeholder="Card number" formControlName="cardNumber">
                                <mat-error *ngIf="checkoutForm.get('cardNumber')?.hasError('required')">Card number is
                                    required</mat-error>
                                <mat-error *ngIf="checkoutForm.get('cardNumber')?.hasError('invalidCardNumber')">
                                    Invalid credit card number.
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-label>Card holder name</mat-label>
                                <input matInput placeholder="Card holder name" formControlName="cardName">
                                <mat-error *ngIf="checkoutForm.get('cardName')?.hasError('required')">Card holder name
                                    is
                                    required</mat-error>
                                <mat-error *ngIf="checkoutForm.get('cardName')?.hasError('maxlength')">Card holder name
                                    must be
                                    less than {{this.charMax1}}
                                    characters</mat-error>
                            </mat-form-field>
                            <div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlex.xs="100%" fxFlex.sm="33%">
                                <mat-form-field fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <mat-label>Expiry month (mm)</mat-label>
                                    <input matInput placeholder="Ex. 5" formControlName="expiryMonth" [min]="1"
                                        [max]="12">
                                    <mat-error *ngIf="checkoutForm.get('expiryMonth')?.hasError('required')">Expiry
                                        month is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('expiryMonth')?.hasError('pattern')">Month must
                                        be
                                        between 1
                                        to 12.</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <mat-label>Expiry year (yy)</mat-label>
                                    <input matInput placeholder="Ex. 23" formControlName="expiryYear" [min]="0"
                                        [max]="99">
                                    <mat-error *ngIf="checkoutForm.get('expiryYear')?.hasError('required')">Expiry year
                                        is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('expiryYear')?.hasError('pattern')">YeaR must be
                                        between 0
                                        to 99.</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%">
                                    <mat-label>CVC</mat-label>
                                    <input matInput placeholder="CVC" formControlName="cvc">
                                    <mat-error *ngIf="checkoutForm.get('cvc')?.hasError('required')">CVC is
                                        required</mat-error>
                                    <mat-error *ngIf="checkoutForm.get('cvc')?.hasError('pattern')">CVC should be 3 or 4
                                        numbers.</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card-actions fxLayout="column">
                    <button mat-raised-button color="primary">Checkout</button>
                </mat-card-actions>
            </div>
        </form>
    </mat-card-content>
</mat-card>